{% load bootstrap3 %} {% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Styles block -->
    {% block styles %} {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
    <script src="https://use.fontawesome.com/80caa23151.js"></script>

    {% endblock %}
</head>

<body>


    <nav class="navbar navbar-default navbar-fixed-top">


        <div class="container-fluid">



            <div class="navbar-header">

                <a href="{% url 'timeline'%}" class="navbar-brand siteIcon" style=" margin-top: -4%;">
                    <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                </a>

                <a href="{% url 'timeline'%}" class="navbar-brand siteName">
                    <img src="{%static 'img/logo.png' %}" alt="Instagram Logo" class="img-responsive" style='height: 5vh; margin-top: -6%; margin-left: 30%;'>
                </a>

            </div>

            <div class="navbar-right">
                {% if user.is_authenticated %}
                <a href="{%url 'look-up' user.id%}" class="icon">
                    <img src="{%static 'img/compass.png'%}" alt="" srcset="" style="vertical-align: middle; height: 5vh;padding: 5px 10px 0%; margin-top: 2.3%;">
                </a>
                <a href="{% url 'profile' user.id%}" class="userIcon">
                    <img src="{%static 'img/prof.png'%}" alt="" srcset=""  style="vertical-align: middle; height: 5vh;padding: 5px 10px 0%; margin-top: 2.3%;">
                </a>

                <a href="/logout" class="userIcon">
                    <img src="{%static 'img/logout.png'%}" alt="" srcset=""  style="vertical-align: middle; height: 5vh;padding: 5px 10px 0%; margin-top: 2.3%;">
                </a>
                {%else%}
                <a href="/accounts/login" class="userIcon">
                    <img src="{%static 'img/logout.png'%}" alt="" srcset=""  style="vertical-align: middle; height: 5vh;padding: 5px 10px 0%; margin-top: 2.3%;">
                </a>
                {%endif%}
            </div>



        </div>

    </nav>


</body>

</html>